* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  flex-direction: column;
  background-color: #c1c1c1;
}
h1 {
  margin-left: 100px;
}

.navegacao ul {
  color: black;
  font-weight: bold;
  list-style: none;
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin-left: 10px;
}

li {
  padding: 30px;
  margin-left: 15%;
  display: flex;
}
.home {
  width: 100%;
  height: 100%;
  display: flex;
}
.logo {
  background: #001d3d;
  height: 75px;
  color: #ffc300;
  width: 70%;

  display: flex;
  align-items: center;
}
.logo i {
  margin-left: 5px;
}

.navegacao {
  height: 75px;
  display: flex;
  width: 40%;
  background: #ffc300;
  justify-content: space-between;
  align-items: center;
}
.direcao {
  color: #001d3d;
  text-decoration: none;
  display: flex;
}
.direcao i {
  margin-right: 5px;
}
.direcao:hover {
  color: white;
}

.logo:hover {
  font-size: 20px;
}

.container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  background: #001d3d;
}

h2 {
  width: 100%;
  font-style: italic;
  font-size: 35px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.topo {
  width: 100%;
  height: 386px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("https://tunghatsresort.com.br/application/views/imagens/layout/img-topo_blog-2.jpg");
}

.topo p {
  width: 250px;
  height: 100px;
  display: flex;
  line-height: 1.2;
  margin-top: 50px;

  color: white;
  font-size: 15px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.bemvindos {
  position: relative;
  z-index: 5;
  height: 160px;
  width: 264px;
  background-color: #69685b;
  opacity: 0.7;
  padding: 20px;
  margin-left: 30px;
  border-radius: 10%;
}

.foto {
  width: 180px;

  border-radius: 60%;
}

.coluna1 {
  width: 205px;
  margin: 40px 20px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5%;
  box-shadow: 10px 5px 5px black;
  transition: border 0.5s, width 0.1s;
}

.nomes {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 40px;
  font-size: 25px;
  margin-right: 10px;
  font-weight: bold;
}

.ralf {
  background-color: #003566;
  color: #eada4d;
  box-shadow: 5px 5px 5px #ffc300;
}

.billy {
  background-color: #ffc300;
  box-shadow: 5px 5px 5px #000814;
}

.max {
  background-color: #003566;
  color: #eada4d;
  box-shadow: 5px 5px 5px #ffc300;
}

.sophie {
  background-color: #ffc300;
  box-shadow: 5px 5px 5px #000814;
}

.coluna1:hover {
  width: 220px;
  border: 2px solid white;
}
.foto:hover {
  border: 1px solid white;
}

.conheca {
  width: 85%;
  height: 200px;

  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.conheca img {
  width: 100%;
  height: 200px;
  border-right: 5%;
  object-fit: cover;
  display: flex;
}
.informacao {
  width: 40%;
  padding: 0 20px;
  background-color: #001d3d;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  text-align: center;
}

.informacao a {
  text-decoration: none;
  color: #eada4d;
  font-weight: bold;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.informacao a:hover {
  color: white;
}

.footer {
  background: #001d3d;
  height: 75px;
  color: #ffc300;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer h1 {
  font-size: 1.25rem;
  margin: 0;
}
.footer i {
  margin-left: 4px;
}
.footer span {
  margin-right: 2px;
}

@media (max-width: 700px) {
  .logo {
    display: none;
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    text-align: center;
    padding: 15px 0;
    width: 100%;
    margin: 0;
  }

  li:hover {
    border-bottom: 3px solid white;
  }

  .responsivo {
    width: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    align-items: center;
  }

  .coluna1 {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-right: 6%;
    align-items: center;
  }

  .coluna1:hover {
    width: 92%;
  }
  .navegacao {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .direcao {
    width: 100%;
    justify-content: center;
  }

  .topo {
    padding: 0;
    display: flex;
    margin-right: 5%;
    justify-content: space-around;
  }

  .bemvindos {
    text-align: center;
    width: 80%;
    margin-left: 5%;
  }
  .bemvindos p {
    height: 50px;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    text-align: center;
    margin: 0;
  }
  .texto {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }

  .informacao a {
    font-size: 1.25rem;
  }
  .conheca {
    width: 100%;
  }

  .conheca img {
    width: 60%;
  }
}

